

footer{
	font-family: 'Raleway', sans-serif;
	border-top: 2px solid #AC9251 ;
	background-color: white;
	font-size: 14pt;
	text-align: center;
	align-items: center;
	height: 20vh;
	width: 100%;
}

.logo_footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo_footer img{


	width: 150px;
	margin-top: 10px;
}

.redes_sociales{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
	
	
}
.redes_sociales img{
	width: 35px;
	margin-left: 10px;
}

.direccion{
	display: none;
}

/*----------------------------- TABLET--------------------------------*/

@media screen and (min-width: 768px){

footer p {
	margin: 10px;

}


.redes_sociales{
	display: flex;
	justify-content: flex-end;
	padding-right: 10%;
	


}

.aviso_legal {
	
	width: 50%;
	margin-top:-75px;
	margin-left: 25px;


}

.aviso_legal a {
	
   width: 50%
	margin-top:10px;
	
	

}

.logo_footer{
	display: flex;
	justify-content: flex-start;
	
}
.logo_footer img{


	width: 15%;
	margin-top: 20px;
	padding-left: 10%;
}



}


/*----------------------------- DESKTOP--------------------------------*/

@media screen and (min-width: 900px){


.logo_footer img{
	
	
	margin-top: 20px;
	padding-left: 20px;
}



.texto_footer{
	
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.25rem;
	margin-top: .25rem;
}

.direccion{

	display: block;
	margin-top: .25rem;
   margin-left: 15px;


}
.aviso_legal{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 35%;
	margin-top: 0.25rem;
}


.redes_sociales{
	
	padding-right: 25px;
	


}

}
