*{
margin: 0px;
}

p {
  font-size: 1rem;
  line-height: 1.30rem;
}
@media all and (min-width: 768px) {
  p {
    font-size: 1.1rem;
    line-height: 1.75rem;
  }
  }

@media all and (min-width: 960px) {
  p{
    font-size: 1.1rem;
    line-height: 1.75rem;
  }
}

/*HEADER*********************************************************************************/

.html{
	margin: 0px;
}

body{
font-family:'Raleway'; 
}


.header-mobile {
	display: flex;
	font-family:'Raleway';  
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding-top: 20px;
}

.menu-background{
	background-color: rgba(160,131,59, 0.3);
}

.logo-mobile{
	flex-grow: 1 ;
	background-image: url('../img/Logo_XS.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	height: 35px;
	flex-basis: 40%;
}

.top-header-mobile{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 20px;
	padding-top: 0px;
	border-bottom: solid 1px rgba(160,131,59, 100);
	margin: 0px;
}

.open-menu{
	display: flex;
	flex-grow: 1 ;
	background-image: url('../img/mobile-open-menu.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	height: 32px;
	width: 32px;
	flex-basis: 30%;
}

.close-menu{
	display: none;
	flex-grow: 1 ;
	background-image: url('../img/mobile-close-menu.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: 32px;
	width: 32px;
	flex-basis: 30%;
}

.header {
	display: none;
	font-family:'Raleway';  
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.mobile-menu-container{
	display: none;
}

.top-header ul a{
	display: none;	
}

.bottom-header ul a{
	display: none;
}

.header ul{
	display: none;
}

.header ul a:hover{
	opacity: 0.5;
}

.logo{
	display: none;
}

.top-header{
	display: none;
}

.bottom-header{
	display: none;
}

.header-buttons{
	font-size: 20px;
}

.contenedor-desktop{
	display: flex;
	flex-direction:row;
	margin-bottom: 50px;
	flex-basis:100%;}

.menu-desktop{
	background-color: green;
	padding: 10px;
	border: none;
	color: white;
	text-align: center;
	font-family: "Arial";
	flex-basis:100%;}

.btn-home{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #955251;
	color: white;
	font-family: 'Raleway';
	font-size: 0.8rem;
	border: none;
	height: 40px;
	min-width: 150px;
	width: 50%;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 10px;}

.publish-mobile{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 20px;
	padding-bottom:150px;
}

.publish-desktop{
	display: none;
}

.header-mobile ul{
	display: flex;
	align-items: flex-start;
	list-style: none;
	flex-direction: column;
	margin: 0px;
	padding: none;
	padding-top: 32px;
	color:black;
	justify-content: flex-start;
	-webkit-padding-start: 0px;}

.top-header-mobile ul a{
	font-size:16;
	text-decoration: none;
	color:black;
}

.top-header-mobile li{
		margin-bottom:10px;

}

.header{
	display: none;
}


@media only screen and (min-width: 768px) {
	/*Tablet*/

	.header {
	display: flex;
	}

	.header ul{
		display: flex;
		flex-direction: row;

	}

	.header ul a:hover{
		opacity: 0.5;
	}

	.publish{
		display: flex;
		justify-content: flex-start;
		margin-right: 20px;
		align-items: center;
	}

	.top-header{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background-color: #f5f2eb;
	}


	.top-header a{
		display: flex;
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		max-width: 20px;
		line-height: 2.2;
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 2vw;
	}

	.menu-button-container1{
		flex-grow: 1;
		flex-basis: 70%;
		display: flex;
		justify-content: flex-end;
	}

	.menu-button-container2{
		flex-grow: 1;
		display: flex;
		padding-left: 100px;
		justify-content: flex-start;
	}

	.bottom-header .header-buttons a{
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		max-width: 20px;
		line-height: 2.2;
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 2vw;
	}

	.bottom-header{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 20px;
	}

	.logo{
		display: flex;
		flex-grow:1 ;
		background-image: url('../img/Logo_S_M_L.png');
		background-repeat: no-repeat;
		background-position: left;
		background-size: contain;
		height: 52px;
		width: 150px;
	}

	.header-buttons{
		font-size: 1rem;
		display: flex;
		align-items: flex-end;

	}

	.menu-desktop{
		display: flex;
		background-color: green;
		padding: 10px;
		border: none;
		color: white;
		text-align: center;
		font-family: "Arial";
		flex-basis:100%;
	}


	.btn-home{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #955251;
		color: white;
		font-family: 'Raleway';
		font-size: 0.9rem;
		border: none;
		height: 40px;
		min-width: 200px;
		width: 50%;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: 10px;
	}

	.publish-desktop{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.header-mobile{
		display: none;
	}

	.contenedor-desktop{
		display: flex;
		flex-direction:row;
		margin-bottom: 50px;
		flex-basis:100%;
	}
}


@media only screen and (min-width: 1024px) {
	

	.header ul{
		display: flex;
		flex-direction: row;

	}

	.header ul a:hover{
		opacity: 0.5;
	}

	.publish{
		display: flex;
		justify-content: flex-start;
		margin-right: 20px;
		align-items: center;
	}

	.top-header{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background-color: #f5f2eb;
	}

	.top-header a{
		display: flex;
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		max-width: 20px;
		line-height: 2.2;
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 2vw;

	}
	.menu-button-container1{
		flex-grow: 1;
		flex-basis: 70%;
		display: flex;
		justify-content: flex-end;
	}
	.menu-button-container2{
		flex-grow: 1;
		display: flex;
		padding-left: 100px;
		justify-content: flex-start;
	}
	.bottom-header .header-buttons a{
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		max-width: 20px;
		line-height: 2.2;
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 2vw;
	}

	.bottom-header{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 20px;
	}

	.logo{
		display: flex;
		flex-grow:1 ;
		background-image: url('../img/Logo_S_M_L.png');
		background-repeat: no-repeat;
		background-position: left;
		background-size: contain;
		height: 52px;
		width: 150px;
	}

	.header-buttons{
		font-size: 1rem;
		display: flex;
		align-items: flex-end;}


	.menu-desktop{
		display: flex;
		background-color: green;
		padding: 10px;
		border: none;
		color: white;
		text-align: center;
		font-family: "Arial";
		flex-basis:100%;}

	.btn-home{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #955251;
		color: white;
		font-family: 'Raleway';
		font-size: 0.9rem;
		border: none;
		height: 40px;
		min-width: 200px;
		width: 50%;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: 10px;}

	.publish-desktop{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.header-mobile{
		display: none;
	}

	.contenedor-desktop{
		display: flex;
		flex-direction:row;
		margin-bottom: 50px;
		flex-basis:100%;
	}
}
/**************** FIN HEADER ************************************************************************************/
/**************** MOVIL ****************************************/

.contenedor{
background-image: url("../img/huerto.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 450px;
margin-top: 20px;
}

/*--------------FLECHA---------------*/

#section05 { 
background: url(https://unsplash.it/1000/1000?image=780) center center / cover no-repeat;}

.demo a {
position: absolute;
bottom: 20px;
left: 50%;
z-index: 2;
display: inline-block;
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
color: #fff;
font : normal 400 20px/1 'Josefin Sans', sans-serif;
letter-spacing: .1em;
text-decoration: none;
transition: opacity .3s;
}
.demo a:hover {
opacity: .5;
}
#section05 a {
padding-top: 70px;
}
#section05 a span {
position: absolute;
top: 0;
left: 50%;
width: 30px;
height: 30px;
margin-left: -12px;
margin-top: 50px;
border-left: 4px solid #fff;
border-bottom: 4px solid #fff;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-animation: sdb05 1.5s infinite;
animation: sdb05 1.5s infinite;
box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

/*------------------------FIN FLECHA------------------------------*/
.descripcion h2{
font-size: 1.2rem;
color:#995354;
text-align: center;
padding-top: 3%;
}

.description-adoptante{
padding-top: 15px;
width: 100%;
height:100%;
background-color: #f8f8f8;
}

.description-agricultor{
padding-top: 15px;
width: 100%;
height: 100%;
background-color:#ddd8c5;
}

.container-adoptante{
justify-content: center;
margin-top:40px; 
}

.container-agricultor{
justify-content: center;
margin-top:15%; 
}

.dibujos-adoptante img{
width: 25%;
height: 25%;
display:block;
margin:auto;
margin-top: 30px;
}

.dibujos img{
width: 25%;
height: 25%;
display:block;
margin:auto;
margin-top: 30px;
}

.container-adoptante p{
width: 60%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

.container-agricultor p{
width: 60%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
	
.btn-publicar{
margin-left: 25%;
margin-bottom: 10%;
}
	
.btn-agricultor{
display: flex;
justify-content: center;
align-items: center;
background-color: #955251;
color: white;
font-family: 'Raleway';
font-size: 0.8rem;
border: none;
height: 40px;
min-width: 200px;
width: 60%;
text-transform: uppercase;
text-decoration: none;
margin:auto;
margin-top: 10%;
margin-bottom: 10%;}


.home{
font-family: 'Raleway', sans-serif;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.home h1{
font-size: 1.6rem;
color: white;
margin-top: 10rem;
}

.home h2{
color: white;
font-size: 0.8rem;
font-weight: 400;
text-align: center;
width: 60%;
padding-top: 3%;
}

.margin{
padding-bottom: 100px;
}

a{
text-decoration: none;
color: white;
}


/*------------------------TABLET------------------------------*/

@media screen and (min-width: 620px){

.contenedor{
width: 100%;
height: 500px;
}

.home{
color: white;
font-size: 1.5rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.home h1{
font-size: 3.0rem;
}

.home h2{
font-size: 1.2rem;
}

.descripcion h2{
font-size: 1.5rem;
}

#section05 a span {
margin-top: 0px;
}
.description-adoptante{
width: 100%;
height: 100%;
background-color: #f8f8f8;
}

.description-agricultor{
background-color:#ddd8c5;
width: 100%;
height: 100%;
}

.container-adoptante{
display: inline-flex;
justify-content: center;
margin-top:3%; 
}

.container-agricultor{
display: inline-flex;
justify-content: center;
margin-top:3%; 
}

.dibujos-adoptante img{
width: 40%;
height: 50%;
}
	
.dibujos img{
width: 40%;
height: 50%;
}

.container-adoptante p{
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

.container-agricultor p{
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

}


/*------------------------------- DESCKTOP----------------------------------*/


@media screen and (min-width: 900px){

.contenedor{
height: 650px;
}

.home{
color: white;
font-size: 1.8rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.home h1{
font-size: 4rem;
}

.home h2{
font-size: 1.5rem;
margin-bottom: 20px;
}

.descripcion h2{
font-size: 1.8rem;
}

.container-adoptante{
display: inline-flex;
justify-content: center;
}

.description-adoptante{
width: 100%;
height: 100%;
background-color: #f8f8f8;
}

.container-agricultor{
display: inline-flex;
justify-content: center;
}

.description-agricultor{
background-color:#ddd8c5;
width: 100%;
height: 100%;
}

.dibujos-adoptante img{
width: 35%;
height: 35%;
display:block;
margin:auto;
margin-top: 30px;
}

.dibujos img{
width: 35%;
height: 35%;
}
.agricultor p{
width:15%;
}
		
.btn-publicar{
margin-left: 33%;
}

.btn-agricultor{
display: flex;
justify-content: center;
align-items: center;
background-color: #955251;
color: white;
font-family: 'Raleway';
font-size: 0.9rem;
border: none;
height: 40px;
max-width: 450px;

}
}

/*------FOOTER movil---------*/

footer{
font-family: 'Raleway', sans-serif;
border-top: 2px solid #AC9251 ;
font-size: 14pt;	
height: 250px;
width: 100%;
}

.logo_footer{
display: flex;
justify-content: center;
align-items: center;
}
.logo_footer img{
margin-top: 20px;
height: 50px;

}

footer p {
margin-left: 40px;
}

.redes_sociales{
display: flex;
flex-direction: row;
justify-content: center;
margin: 1em;	
}

.aviso_legal{
text-align: center;
font-size: 10pt;
	
width: 100%;
}

.aviso_legal a{
color:#955251;
}

.redes_sociales img{
width: 44px;
margin: 10px;
}
.direccion{
display: none;
}

/*----------------------------- TABLET--------------------------------*/

@media screen and (min-width: 768px){

.texto{
font-size: 16pt;	
}


/*------FOOTER TABLET---------*/

footer a img{
height: 35px;
display: flex;
justify-content: flex-start;
}

footer p {
margin: 10px;
}
.redes_sociales{
display: flex;
justify-content: flex-end;
}

.aviso_legal{
width: 50%;
margin-top:-80px;
margin-left: 15px;
font-size: 12pt;
}

.aviso_legal a {
display:flex;
justify-content: flex-start;
margin: 10px;
}

.logo_footer{
display: flex;
justify-content: flex-start;
}
.logo_footer img{
margin-top: 10px;
height: 40px;
}

}

/*----------------------------- DESKTOP--------------------------------*/

@media screen and (min-width: 960px){

.texto{
font-size: 18pt;
}

/*------FOOTER DESCKTOP---------*/

footer{
height: 250px;
}
.logo_footer img{
height: 100px;
}
footer img{
display: flex;
justify-content: flex-start;
margin-left: 20px;
}

.direccion{
display: block;
margin-top: 3rem;
}
.aviso_legal{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 31%;
margin-top: 0;
font-size: 14pt;
}

.texto_footer{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin-top: 0.5rem;
margin-left: 1rem;
margin-right: 1rem;
}
}
.redes_sociales{
margin-top: 3rem;

}
}

}
