	.header-portada  h1{
		margin-top: 20px;
		color: #9f504e;
		text-align: center;
		@media screen and (min-width: $tablet-width) {
			padding-top: 70px;
			color: #9f504e;
		}
		@media screen and (min-width: $desktop-width) {
			padding-top: 70px;
			color: #FFFFFF;
		}

	}

	.header-portada p{
		display: none;
		@media screen and (min-width: $desktop-width) {
			text-align: center;
			display: block;
			margin-left: 30%;
			margin-right: 30%;
			margin-bottom: 10%;
			padding-top: 5px;	
			color: #FFFFFF;
		}
	}
/* _______________descripciones__________________________ */

.descripcion1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 2rem;
	@media screen and (min-width: $tablet-width) {
		display: flex;
		margin-right: 30%;
		flex-direction: row-reverse;
		width: 80%;
		margin-bottom: 2rem;
	}

}
.descripcion2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem; 
	margin-top: 2rem;
	padding-right: 5px;
	@media screen and (min-width: $tablet-width) {
		display: flex;
		margin-right: 30%;
		flex-direction: row;
		width: 80%;
	}
}

.nombre_text1{
	display: flex;
	flex-direction: column;
	text-align: center;
	@media screen and (min-width: $tablet-width) {
		display: flex;
		justify-content: flex-start;
		margin-right: 10%;
	}
	@media screen and (min-width: $desktop-width) {
		margin-right: 10%;
	}
}

.nombre_text2{
	display: flex;
	flex-direction: column;
	text-align:center;
	@media screen and (min-width: $tablet-width) {
		display: flex;
		justify-content: flex-start;
		margin-left: 10%;
		margin-top: 10px;
	}
	@media screen and (min-width: $desktop-width) {
		margin-left: 10%;
	}
}

.foto{
	background-color: #F0F0F0;
	width: 8rem;
	border-radius: 50%;
	@media screen and (min-width: $desktop-width) {
		height: 9rem;
		width: 9rem;
		border-radius: 50%;
		margin: 1rem auto -1rem;
	}
	
}

.nombre_text1 h4{
	padding-top: 15px;
	color:#AC9251;
	@media screen and (min-width: $desktop-width) {
		padding-bottom: 10px;
		text-align: right;

	}
}

.nombre_text2 h4{
	color:#AC9251;
	padding-top: 15px;
	@media screen and (min-width: $desktop-width) {
		padding-bottom: 10px;
		text-align: left;
	}

}
.texto1{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem; 
	text-align: right;
}

.texto2{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem; 
	text-align: left;
}

.texto{
	font-size: 16pt;
}

.contenedor-portada{
	background-image: url(../img/cabecera4.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	margin-top: -30px;
}

.general{
	margin-right: 10%;
	margin-left: 20%;	
}






