//Contenedor del listado de nombres con fotos
.about-container{
	margin:20px;
	margin-bottom: 50px;
    @media screen and (min-width: $tablet-width) {
	margin-right: 5%;
	margin-left: 15%;	
	}
	@media screen and (min-width: $desktop-width) {
	margin-top: 70px;
	margin-right: 10%;
	margin-left: 20%;	
	}
}

.about-project{
	margin-bottom: 50px;	
    @media screen and (min-width: $desktop-width) {
	margin-bottom: 100px;
    }
}

//Contenedores de cada descripcion, con alineacion a la derecha o a la izquierda
.about-description-right, .about-description-left{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 2rem;
	@media screen and (min-width: $tablet-width) {
		margin-right: 30%;
		width: 80%;
	}
}

.about-description-right{
	@media screen and (min-width: $tablet-width) {
		flex-direction: row-reverse;
	}	
}

.about-description-left{
	@media screen and (min-width: $tablet-width) {
		flex-direction: row;
	}	
}

//Contenedores  del texto de cada descripcion: nombre + texto
.about-description-right-text, .about-description-left-text{
	@media screen and (min-width: $tablet-width) {
		margin-right: 20px;
	}
}

.about-description-left-text{
	@media screen and (min-width: $tablet-width) {
		margin-left: 20px;
	}
}

//La foto de cada persona
.about-foto-ainhoa, .about-foto-alina, .about-foto-lucia, .about-foto-diana {
	display: flex;
	align-items:flex-start;
	max-height: 7rem;
	max-width: 7rem;
	min-height: 7rem;
	min-width: 7rem;
	background-repeat: no-repeat;
	background-size: contain;
	@media screen and (min-width: $tablet-width) {
		max-height: 9rem;
		max-width: 9rem;
		min-height: 9rem;
		min-width: 9rem;
		margin: -1rem auto -1rem;
	}
}

.about-foto-alina{
	background-image: url('../img/Alina-profile.jpg');
}

.about-foto-ainhoa{
	background-image: url('../img/Ainhoa-profile.jpg');
}

.about-foto-lucia{
	background-image: url('../img/Lucia-profile.png');
}

.about-foto-diana{
	background-image: url('../img/diana-profile.jpg');
}


//El nombre y la descripcion de cada persona

.h4-about-right, .h4-about-left{
	margin: 5px 0px;
	text-align: center;
}

.h4-about-right, .p-about-right{
	@media screen and (min-width: $tablet-width) {
		text-align: right;
	}
}

.h4-about-left, .p-about-left{
	@media screen and (min-width: $tablet-width) {
		text-align: left;
	}

}

