 .contact-container{
    background: $col-white;
    @media screen and (min-width: $tablet-width) {
        margin: 50px;
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: $desktop-width) {

    } 
}

.contact-address { 
  color: $col-marsala-text;
  margin-top: 40px;
  text-align: center;
  @media screen and (min-width: $tablet-width) {
    border-right: 3px solid $col-marsala-button;
    padding-right: 40px;
}
@media screen and (min-width: $desktop-width) {
    padding-top:5px;
    text-align: right;
    width: 50%;
} 
}


.contact-formulario{
    display: block;
    margin: 0px;
    margin-top: 2em;
    padding:40px;
    @media screen and (min-width: $tablet-width) {
        margin-right: 20px;
        width: 60%;
    }
    @media screen and (min-width: $desktop-width) {

    }   
}

form{
    margin: 0px;
    padding: 0px;
}

label{
    font-size: 1rem;
    margin-top: 2rem;
    align-items:center;
    @media screen and (min-width: $tablet-width) {
        font-size: 1rem;
        margin-top: 2rem; 
    }
    @media screen and (min-width: $desktop-width) {

    }
}

input, textarea{
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    height: 40px;
    width: 70%;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    @media screen and (min-width: $tablet-width) {
    }
    @media screen and (min-width: $desktop-width) {

    }
}

.btn-form{
    background-color: $col-marsala-button;
    padding: 10px 50px 20px 20px;
    color: white;
    font-size: 16px;
    border: none;
    height: 40px;
    min-width: 300px;
    width: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
}


textarea {
    outline: none;
    height: 90px;
}

.contact-map{
    display: none;
    @media screen and (min-width: $tablet-width) {
        display:block;
        margin-top: 120px;
        width: 80%;
        height: 80%;
    }
    @media screen and (min-width: $desktop-width) {
        width: 40%;
        height: 60%;
        padding-left: 60%;
    }
}



