p{
	font-size: 1rem;
	color: black;
	padding: 0px;
}

.p-i{
	font-size: 1rem;
	color: black;
	font-style: italic;
}

.form {
	padding: 20px; 
	max-width: 500px;
	margin: 0 auto;
}
.form div {
	padding: 5px;
}
label {
	display: block;
}
input + label {
	display: inline-block;
	margin-right: 10px;
}

input[type=text],
input[type=email],
textarea {
	border: 1px solid #999;
	padding: 5px;
	width: 100%;
}

.form-center{
	justify-content:center;
}


/*REGISTRO*/

input:valid {
	
}

.register-breadcrumb {
	display: flex;
	justify-content: center;
	padding-right: 20px; 
	margin-bottom: 20px;
}

.register-breadcrumb a{
	text-decoration: none;
	color: black;

}

.breadcrumb-step {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	border: 1px solid #9b8441;
	width: 100%;
	margin-left: 30px;

}

.breadcrumb-step-current {
	background-color:#f5f2eb;
	text-decoration: bold;
}


.register-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	background: none;
	@media screen and (min-width: $tablet-width) {
	background: #f5f2eb url('../img/pattern-1.png');
	}
}


.form{
	display: flex;
	flex-direction: column;
	margin: 20px;
	background-color: white;
	padding-bottom: 50px;
	@media screen and (min-width: $tablet-width) {
		margin-top: 100px;
		padding: 50px 100px;
		width: 50%;
		margin-bottom: 180px;
	}
	@media screen and (min-width: $desktop-width) {
		margin-bottom: 100px;
	}
}

label{
	font-size: 1rem;
	margin-top: 0.5rem; 
	@media screen and (min-width: $tablet-width) {
		font-size: 1,125rem;
	}
	@media screen and (min-width: $desktop-width) {
		display: block;
	}
}

.input-style, textarea{
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	height: 40px;
	width: 100%;
	min-width: 300px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1rem;
	box-sizing: border-box;
	@media screen and (min-width: $tablet-width) {
		height: 45px;
	}
	@media screen and (min-width: $desktop-width) {
		display: block;
	}
}

.checkbox-style{
	padding: 0px;
	margin: 10px;
	margin-left: 0px;
}


.form-checkbox{
	display: flex;
	width: 60%;
	min-width: 300px;
	height: 80px;
}

input[type=checkbox]{
	margin:0px;
	width:30px;
}

textarea {
	outline: none;
	height: 90px;
}

.h2-gold{
	color:#9b8441;
	font-size: 1.2rem;
	@media screen and (min-width: $tablet-width) {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
	@media screen and (min-width: $desktop-width) {
		font-size: 1.8rem;
	}
}


.h2-red{
	color:#955251;
}
