/*LISTADO HUERTOS*/
.list-page{
	display: flex;
	flex-direction: column-reverse;
	@media screen and (min-width: $tablet-width) {
		flex-direction: row;
	}
}

.p-headline{
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
}

.adlist-container{
	flex-grow:1;
	margin: 30px 0px;
	@media screen and (min-width: $tablet-width) {
		margin: 30px 50px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
			}
	@media screen and (min-width: $desktop-width) {
		margin: 0px;
	}
}

.ad{
	border: none;
	margin-bottom: 30px;
	@media screen and (min-width: $tablet-width) {
		border: solid 1px $col-gold-text;
		height: 350px;
		min-width: 230px;
		margin: 0px 30px 50px 30px;
	}
	@media screen and (min-width: $desktop-width) {
		float: left;
		border: solid 1px $col-gold-text;
		margin: 0px 30px 50px 30px;
	}

}

.ad-photo, .ad-photo2, .ad-photo3, .ad-photo4, .ad-photo5, .ad-photo6, .ad-photo7, .ad-photo8, .ad-photo9 {
	border: none;
	background-size: cover;
	width: 100%;
	height: 230px;
}


.ad-photo{
	background-image: url('../img/ficha_huerto.jpg');
}

.ad-photo2{
	background-image: url('../img/fotohuerto1.png');
}
.ad-photo3{
	background-image: url('../img/fotohuerto2.png');
}
.ad-photo4{
	background-image: url('../img/fotohuerto3.png');
}
.ad-photo5{
	background-image: url('../img/im-3.jpeg');
}
.ad-photo6{
	background-image: url('../img/im-2.jpeg');
}

.ad-photo6{
	background-image: url('../img/foto3.jpg');
}
.ad-photo7{
	background-image: url('../img/contacto-big.jpeg');
}
.ad-photo8{
	background-image: url('../img/foto1m.jpg');
}
.ad-photo9{
	background-image: url('../img/maiz.png');
}

.price{
	margin:70px 0 0 0;
	background-color: gray;
	color:white;
	height: 30px;
	padding: 20px;
	font-size: 1.2rem;
}

.ad-headline{
	border: none;
	height: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 20px;
	border-bottom: solid 1px $col-gold-text;
	@media screen and (min-width: $tablet-width) {
		padding: 10px;
		margin: 0px;
		border-bottom: none;
		height: 120px;
	}
}

.ad-headline:last-child{
	border-bottom: none;
}

.ad-where{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.icon-where{
	padding-right: 10px;
	display: flex;
	align-items:flex-end;
}

.ad-perks{
	padding-right: 10px;

}

.list-header{
	margin: 20px 20px;
	padding: 0px;
	@media screen and (min-width: $tablet-width) {
		margin: 20px 50px;
	}
}

.btn-normal{
	padding: 10px 20px;
	background-color: white;
	color: $col-marsala-button;
	font-size: 14px;
	border: solid 1px $col-marsala-button;
	margin: 20px 0px;
	text-transform: uppercase;
}

.btn-full-screen{
	width: 100%;
}

.ad-filter{
	display: flex;
	justify-content: flex-end;
}

.ad-rating{
	margin-top: 5px;
}

.show-map, .hide-map{
	display: flex;
	justify-content: flex-start;
	margin-left: 30px;
}

.hide-map{
	display: none;
}

.map-container{
	display: none;
	margin-right: 20px;
	flex-grow:1;
}

.list-item-price{
	color: white;
	font-size: 1.7rem;
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: $col-gold-text;
	height: 50px;
	width: 90px;
}

