//Product page container
.product-page-container{
    display: flex;
    flex-direction:column;
    margin: 0px;
    @media screen and (min-width: $tablet-width) {
    flex-direction:row;
    }
    @media screen and (min-width: $desktop-width) {

    }

}
//END Product page container

//Product images
.product-img-gallery{
    display: flex;
    @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    flex-basis:45%;
    }
    @media screen and (min-width: $desktop-width) {
    flex-basis:50%;
    }
}

.product-img-gallery-big{
    margin: 0px;
    display: block;
    background-image: url('../img/ficha_huerto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
        width:99.5%;
    height: 30vh;
    @media screen and (min-width: $tablet-width) {
    height: 50vh;
    margin-left: 2px;
    margin-bottom: 2px;
    }
    @media screen and (min-width: $desktop-width) {
    }

}

.product-img-gallery-small-container{
    display: none;
    @media screen and (min-width: $tablet-width) {
    flex-grow: 1;
    height: 20vh;
    display: flex;
    }
    @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    }
}

.product-img-gallery-small{
    @media screen and (min-width: $tablet-width) {
        display: block;
        flex-grow: 1;
    }
    &-1{
        background-image: url('../img/ficha_huerto2.jpg');
    }       
    &-2{
        background-image: url('../img/ficha_huerto3.jpg');
    }
    &-3{
        background-image: url('../img/ficha_huerto4.jpg');
    }
    &-1, &-2, &-3,{
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vh;
        width:33.35%;
        margin: 2px;
    }
}

//END Product images 

// Product description

.product-description{
    padding: 20px;  
    @media screen and (min-width: $tablet-width) {
    padding: 0 20px;  
    flex-basis:55%;
    }
    @media screen and (min-width: $desktop-width) {
    flex-basis:50%;
    padding-left: 30px;
    }
    &-price{
    text-align: left;
    @media screen and (min-width: $tablet-width) {
        text-align: center;
    }
    @media screen and (min-width: $desktop-width) {
        text-align: center;
    }
}

//END Product description

// Rent button


// END Rent button

.product-btn-active{
    background-color: $col-marsala-button;
    color: white;
    border: 1px $col-marsala-button;
    height: 40px;
    @media screen and (min-width: $tablet-width) {
    }
    @media screen and (min-width: $desktop-width) {
     background-color: $col-marsala-button;
    }
}


.btn-forma2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $col-marsala-button;
    color: white;
    font-family: 'Raleway';
    font-size: 0.9rem;
    border: none;
    height: 30px;
    width: 80%;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 8%;
    @media screen and (min-width: $tablet-width) {
        margin-left: 20%;
        width: 60%;
    }
    @media screen and (min-width: $desktop-width) {
        height: 40px;
        margin-top: 120px;
        margin-bottom: 40px;
        margin-left: 15%;
    }
}

.btn-alquilar{
    @media screen and (min-width: $tablet-width) {
        margin: 20px;
    }
    @media screen and (min-width: $desktop-width) {
        margin: 20px 150px 20px 250px;
    }
}
}

